 .yello1{
color: #d4a76a;
border: 1px solid #d4a76a;
}
  .purble{
color: #a876aa;
border: 1px solid #a876aa;
}
  .pink{
color: #e0c3fc;
border: 1px solid #e0c3fc;

}
@media (max-width:500px) {
  .feature-card p{font-size: 1.2rem;}
  .feature-card{
    align-items: start;
  }
}