/*.contact-me-section h2 {
  font-size: 4rem;
}*/
.yello-text {
  color: #d4a76a;
}
.icon-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.social{
    font-size: 3rem;
}
.yello11 {
  color: #d4a76a;
  border: 1px solid #d4a76a;
  padding: 5px;
  border-bottom-left-radius: 20%;
  border-top-right-radius: 20%;
  box-shadow: 0 0 40px -10px hsl(var(--primary) / 0.4);
  cursor: pointer;
}
.yello11:hover {
  color: #a876aa;
  border: 1px solid #a876aa;
  transition: 1s;
}
@media (max-width: 1000px) {
  .social {
    gap: 2px !important;
  
    flex-wrap: wrap !important;
    justify-content: center;
    align-items: center;
  }
  .let-build-text {
    width: 100%;
    text-align: start;
    margin-top: 20px;
  }
  .connect-info-div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    
  }
  .email-div,
  .address-div,
  .phone-div {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;

  }
  .email-div p,.address-div p, .phone-div p{
  font-size: 23px;
  
  }
  .social1,
  .social2 {
    width: 100%;
    margin-top: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  .icon-div {
    display: flex !important;
    flex-direction: row !important;
    gap: 15px;
    width: 100%;
    justify-content: start;
  }
  .social {
    width: 100%;
    margin-top: 20px !important;
  }
  .contact-me-section {
    padding-left: 20px;
    padding-right: 20px;
  }
.let-us-connect-div{
    margin-top:30px;
}
.contact-me-section button{
    align-self: self-start;
}
}
@media (max-width:400px) {
  .email-div p,.address-div p, .phone-div p{
  font-size: 1rem;
  
  }
   .yello11{
    font-size: 2rem !important;
  }
  .let-us-connect-div h3{
    font-size:1.4rem ;
  }
}