.nav-bar ul li,
.nav-bar-open ul li {
  color: #d4a76a;
}

.logo {
  color: #a876aa;
  font-size: 2rem;
}
.nav-icon {
  color: #a876aa;
  font-size: 2rem;
}
.nav-bar-open {
  display: none;
}
.open {
  display: flex;
}
@media (max-width: 1000px) {
  .nav-bar {
    display: none;
  }
  .nav-bar-open {
    display: flex;
  
  }
  .nav-bar-open ul li {
    font-size: 1.4rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .list-nav {
    display: none;
  }
}
